{% extends 'dw_query/base.html' %}
{% block title %}
    <title>查询结果</title>
{% endblock %}
{% block content %}
<div class="container" style="overflow: scroll;">
    <table class="table table-borderless" style="min-width:1500px;">
        <thead>
            <tr>
                {% for col in cols %}
                    <th>{{ col }}</th>
                {% endfor %}
            </tr>
        </thead>
        {% for lst in serializer %}
            <tr>
            {% for v in lst %}
                <td>{{ v }}</td>
        {% endfor %}
            </tr>
        {% empty %}
            <h2>查无记录!</h2>
        {% endfor %}
    </table>
</div>
{% endblock content %}